* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  width: 100%;
  height: 100vh;
}

#back {
  width: 100%;
  height: 100vh;
}

#back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#top {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
}

#workingarea {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 1920px;
  height: 100vh;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

#nav img {
  height: 60px;
}

#nleft,
#nright {
  display: flex;
  align-items: center;
  gap: 60px;
}

#nav a {
  pointer-events: all;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

#hero {
  position: absolute;
  top: 55%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#heroleft {
  min-width: 50%;
}

#heroright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 17%;
  color: #fff;
}

#heroright p {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

#heroright #imagediv {
  width: 100%;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-image: url(https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#heroleft .elem h1:nth-child(1) {
  top: 0;
}
#heroleft .elem {
  position: relative;
  height: 9vw;
  overflow: hidden;
}
.elem {
  position: relative;
  overflow: hidden;
}

.elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
}

#heroleft .elem h1 {
  position: absolute;
  top: 100%;
  border-left-style: 0;
  line-height: 0.9;
  font-family: "kajiro";
  color: #fff;
  font-weight: 100;
  font-size: 11vw;
}

#heroleft button {
  pointer-events: all;
  padding: 0.8vw 3vw;
  font-size: 3vw;
  margin-top: 2vw;
  font-family: "kajiro";
}

#heroright p:nth-child(3) {
  margin-bottom: 100px;
}
